<!DOCTYPE html>
<html lang="en">
	<head>
		<title>B U R G E R Deconstructed</title>
		<meta charset="UTF-8">
		{{!-- Bootstrap Below --}}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{!-- Bootstrap JS Below --}}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{!-- Add in css from style.css to stylize the elements of the page. --}}
<link href='/assets/css/style.css' rel='stylesheet' type='text/css' />
	</head>
	<body>
		{{!-- no other element from handlebars is required to complete 
		this page. We have declared the file type as well as the needed 
		dependencies for the sytle elements and Jquery needed to 
		complete said project.  --}}

		{{{ body }}}

	{{!-- Add in jQuery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	{{!-- Add in script.js to controle page behavior when at the DOM --}}
	<script src="/assets/js/script.js"></script>
	</body>
</html>
